/* すべてのページに適応される設定 */

body {
    margin: 0 40px;
}
nav ul {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: left;
    gap: 40px;
}

/* すべてのページに適応される設定 ヘッダー*/

/* すべてのページに適応される設定 フッター*/



/* index.php */

/* userAdd.php */

/* questions.php */

/* questioninput.php */

/* detail.php */

/* answer.php */


.questionbox {
    /* 枠線（ボーダー）を追加 */
    border: 2px solid #000000;
    /* 内容と枠線の間に余白を設定 */
    padding: 20px;
    /* 枠の外側に余白を設定 */
    margin-bottom: 20px;
    /* 背景色（オプション） */
    background-color: #f9f9f9;
    font-size: 20px;
}

.return{
    display: flex;
}

