/* すべてのページに適応される設定 */

body {
    margin: 0 40px;
}
nav ul {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: left;
    gap: 40px;
}

h1{
    border-left:7px solid #1d7bb5;
    padding-left: 15px;
    text-align:left;
    color:#767676;
}

h2{
    border-left:7px solid #1d7bb5;
    padding-left: 15px;
    text-align:left;
    color:#767676;
}
 
.main{
    margin:90px auto 90px auto;
    max-width:1300px;
}

/* すべてのページに適応される設定 ヘッダー*/

.header-top{
    color: #f9f9f9;
    background-color: #1d7bb5;
    max-width: 100%;
}


/* すべてのページに適応される設定 フッター*/



/* index.php */

/* userAdd.php */

/* questions.php */

/* questioninput.php */

/* detail.php */

/* answer.php */

.name{
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.7;
}
.date{
    line-height: 1.7;
    font-size: 0.8rem;
}

.question-section{
    margin: 20px auto 40px auto;
}


.questionbox {
    /* 枠線（ボーダー）を追加 */
    border: 2px solid #000000;
    /* 内容と枠線の間に余白を設定 */
    padding: 20px;
    /* 枠の外側に余白を設定 */
    margin-bottom: 20px;
    /* 背景色（オプション） */
    background-color: #f9f9f9;
    font-size: 20px;
    border-radius: 25px;
}

.answer-section {
    display: flex; 
    flex-direction: column;
    margin-left:18%;  
    
}

.anstexbox {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    font-size: 20px;
    display: inline-block;
    
}

.main form,textarea {
    display: block;  
    width: 100%;
    box-sizing: border-box;
}

.btn {
  display: inline-block;
  font-size: 16px;
  color: #f9f9f9;
  background-color: #1d7bb5;
  border-radius: 20%;
  padding: 12px;
  transition: .4s;
  border: 2px solid transparent;
  margin: 30px 0 30px 0;
}

.touroku-btn {
    display: block; 
    margin-left: 0; /* または、回答フォームとボタンの間に少しスペースを空ける場合は 10px など */
    margin-right: auto; /* 他の要素を右に押し付けたい場合 */
   font-size: 16px;
   font-weight: bold;
  color: #1d7bb5;
  background-color: #f9f9f9;
  border-radius: 20%;
  padding: 12px 20px 12px 20px;
  transition: .4s;
  border: 2px solid #1d7bb5
}
.touroku-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #f9f9f9;     /* 背景色     */
  background    : #1d7bb5; 
  border: 2px solid transparent;    /* 文字色     */
}

