/* すべてのページに適応される設定 */

body {
    margin: 0 40px;
}
nav ul {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: left;
    gap: 40px;
}

/* すべてのページに適応される設定 ヘッダー*/

/* すべてのページに適応される設定 フッター*/



/* index.php */

/* userAdd.php */

/* questions.php */

/* questioninput.php */

/* detail.php */

/* answer.php */


